<div class="pure-u-1" id="list">
  <div class="exercise-item exercise-item-selected pure-g">
    <div class="pure-u">
      <a href="#led"><h4 class="exercise-title"><%= menu['led'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#diode"><h4 class="exercise-title"><%= menu['diode'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#resistor"><h4 class="exercise-title"><%= menu['resistor'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#transistor"><h4 class="exercise-title"><%= menu['transistor'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#servo"><h4 class="exercise-title"><%= menu['servo'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#dcmotor"><h4 class="exercise-title"><%= menu['dc-motor'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#piezo"><h4 class="exercise-title"><%= menu['piezo'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#ic"><h4 class="exercise-title"><%= menu['ic'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#pushbutton"><h4 class="exercise-title"><%= menu['pushbutton'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#pot"><h4 class="exercise-title"><%= menu['potentiomenter'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#photoresistor"><h4 class="exercise-title"><%= menu['photo-resistor'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#tempsensor"><h4 class="exercise-title"><%= menu['tmp36'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#relay"><h4 class="exercise-title"><%= menu['relay'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#breadboard"><h4 class="exercise-title"><%= menu['breadboard'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#headerpins"><h4 class="exercise-title"><%= menu['header-pins'] %></h4></a>
    </div>
  </div>
</div>
