<div class="pure-u-1" id="list">
  <div class="exercise-item exercise-item-selected pure-g">
    <div class="pure-u">
      <a href="#intro"><h4 class="exercise-title"><%= menu['exercise'] %> <%= circCode %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#parts"><h4 class="exercise-title"><%= menu['parts'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#circuit"><h4 class="exercise-title"><%= menu['circuit-layout'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#assembly"><h4 class="exercise-title"><%= menu['assembly'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#code"><h4 class="exercise-title"><%= menu['code'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#troubleshooting"><h4 class="exercise-title"><%= menu['troubleshooting'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#extending"><h4 class="exercise-title"><%= menu['extending'] %></h4></a>
    </div>
  </div>
  <div class="exercise-item pure-g">
    <div class="pure-u">
      <a href="#more"><h4 class="exercise-title"><%= menu['more'] %></h4></a>
    </div>
  </div>
</div>
